@{ ViewData["Title"] = "Ведение журнала"; }

@model WebApplication1.ViewModels.SchoolMagazineViewModel
@{int count = 0;}
<style>
    .container {
        margin-left: 3%;
        padding: 0;
    }
</style>
<div class="container">

    <form asp-action="FilterBySubject" asp-controller="SchoolMagazine" asp-route-Class="@ViewBag.ClassNumber" asp-route-ClassLetter="@ViewBag.ClassLetter" method="post">
        <div class="row">
            <div class="col-md-7">
                <div class="form-group">
                    <select class="form-control" name="Subject" id="Subject">
                        @foreach (var cl in ViewBag.subjects)
                        {
                            <option>@cl</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-2">
                <select class="form-control" name="Quarters" id="Quarters">
                    @foreach (var cl in ViewBag.Quarters)
                    {
                        <option>@cl</option>
                    }
                </select>
            </div>
            <div class="col-md-3 right-col">
                <button type="submit" class="btn btn-info btn-rounded" style="float: right; font-size: 12px;" name="button">
                    Выбрать
                </button> <br />
            </div>
        </div>

    </form>
    <form method="post" asp-controller="SchoolMagazine" asp-action="SaveMagazine" asp-route-Class="@ViewBag.ClassNumber" asp-route-ClassLetter="@ViewBag.ClassLetter">
        <input type="text" asp-for="Subject" hidden id="sub" />
        <table class="table table-bordered table-dark">
            <tr>
                <th>ФИО / Дата</th>
                @foreach (var col in ViewBag.days)
                {
                    <th width="10"><input class="table-dark" width="10" size="3" type="text" readonly value="@col.Day.@col.Month" asp-for="Date" /></th>
                }
                <th>Четверть @ViewBag.Q</th>
            </tr>
            @foreach (var fio in ViewBag.names)
            {
                <tr>
                    <td><input class="table-dark" size="30" type="text" readonly value="@fio" asp-for="Pupils_marks[count][0]" /></td>

                    @for (int i = 1; i < ViewBag.days.Count + 2; i++)
                    {
                        <td width="10"><input width="10" size="5" class="table-dark" type="text" style="width:25px" asp-for="@Model.Pupils_marks[count][i]" /></td>
                    }

                </tr>
                count++;
            }
        </table>
        <button type="submit" class="btn btn-info btn-rounded" style="float: right; font-size: 12px;" name="button">
            Сохранить
        </button> <br /><br /><br />
    </form>
    <div style="border:solid">
        <form asp-action="AddHomework" asp-controller="SchoolMagazine" asp-route-Class="@ViewBag.ClassNumber" asp-route-ClassLetter="@ViewBag.ClassLetter" method="post">
            <div class="row">
                <div class="col-md-7">
                    <textarea style="width:500px" class="form-group" asp-for="Homework"></textarea>
                </div>



                <div class="col-md-5 right-col">
                    <button type="submit" class="btn btn-info btn-rounded" style="float: right; font-size: 12px;" name="button">
                        Добавить
                    </button> <br /><br /><br />
                </div>
            </div>
            <select class="form-control" style="width:300px" name="dates">
                @foreach (var cl in ViewBag.days)
                {
                    <option>@cl.ToLongDateString()</option>
                }
            </select>
        </form>
    </div>


    <br /><br /><br /><br />
    <div style="border:solid">
        <form asp-action="ViewMagazine" asp-controller="SchoolMagazine" asp-route-Class="@ViewBag.ClassNumber" asp-route-ClassLetter="@ViewBag.ClassLetter" method="post">
            <div class="row">
                <div class="col-md-7">
                    <div class="form-group">
                        <select class="form-control" name="Subject" id="Subject">
                            @foreach (var cl in ViewBag.subjects)
                            {
                                <option>@cl</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <select class="form-control" name="Quarters" id="Quarters">
                        @foreach (var cl in ViewBag.Quarters)
                        {
                            <option>@cl</option>
                        }
                    </select>
                </div>
                <div class="col-md-3 right-col">
                    <button type="submit" class="btn btn-info btn-rounded" style="float: right; font-size: 12px;" name="button">
                        Просмотр расписания
                    </button> <br />
                </div>
            </div>
        </form>
    </div>
</div>



<script>
    var subject = document.getElementById('Subject');
    subject.onchange = function () {
        document.cookie = 'Subject=' + subject.value + '; path=/;';
    };
    var quarter = document.getElementById('Quarters');
    quarter.onchange = function () {
        document.cookie = 'Quarter=' + quarter.value + '; path=/;';
    };
    function getCookie(name) {
        var matches = document.cookie.match(new RegExp(
            "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
        ));
        return matches ? decodeURIComponent(matches[1]) : undefined;
    }
    var select = document.getElementById('Subject'),
        cookie = getCookie('Subject');
    var select2 = document.getElementById('Quarters'),
        cookie2 = getCookie('Quarter');
    if (cookie) {
        select.value = cookie;
    }
    if (cookie2) {
        select2.value = cookie2;
    }
    var value = document.getElementById('Subject').value;
    document.getElementById('sub').value = value
</script>
