@{ ViewData["Title"] = "Домашняя страница"; }
<link rel="stylesheet" type="text/css" href="~/css/font-awesome/css/font-awesome.css" />
<link rel="stylesheet" type="text/css" href="~/css/index.css" />
@if (!User.Identity.IsAuthenticated)
{
<div class="text-center">
    <h1 class="display-4">
        Добро пожаловать в систему электронных журналов и дневников!
    </h1>
</div>}
<form method="post">

    @if (User.Identity.IsAuthenticated)
    {

@if (User.IsInRole("admin"))
{
<a class="btn btn1 btn-rounded" href="/RegistrateSchool/RegistrateSchool">Зарегистрировать новую школу</a>
                    <div class="contain">
                        <table class="table" style="width:max-content">
                            <tr><td><b style="font-size:24px; text-transform:uppercase; color:white;margin:0 15px">Школа</b></td><td><b style="font-size:24px; text-transform:uppercase; color:white;margin:0 15px">Директор</b></td></tr>
                            @foreach (var item in ViewBag.schoolDirectors)
                            {
        <tr>
            <td width="300" style="vertical-align: top; font-size: 12px; text-transform: uppercase; color: white; margin: 0 15px">
                @item.SchoolName
            </td>
            <td width="280" style="vertical-align: top; font-size: 12px; text-transform: uppercase; color: white; margin: 0 15px">
                @item.LastName @item.Name @item.SecondName
            </td>
            <td width="300"><img src="@item.ImageUrl" class="img-fluid" width="100" /></td>
            <td>
                <button type="submit" class="btn btn-danger btn-rounded" style="font-size:12px;" asp-controller="RegistrateSchool" asp-action="Deleteschool" asp-route-SchoolName="@item.SchoolName" name="button">
                    <i class="fa fa-trash text-danger rounded-circle bg-white mr-1" style="padding: 5px 7px;"></i>Удалить школу
                </button>
            </td>
        </tr>
}
                        </table>
                    </div>}}
</form>
@if (User.IsInRole("administration"))
{
<a class="btn btn1 btn-rounded" style="width:350px" href="/Employee/RegisterTeachersAdministration">Регистрация и добавление нового сотрудника</a>
                <a class="btn btn1 btn-rounded" style="width:350px" href="/Pupil/AddPupils">Регистрация и добавление нового класса с учениками</a>
                                <a class="btn btn1 btn-rounded" href="/Timetable/SelectClass">Добавить новое расписание</a>
                                                <div class="contain">
                                                    <table class="table" style="width:max-content">
                                                        @foreach (var item in ViewBag.emplyeesOfSchool)
                                                        {

                                        <tr>
                                            <td><img src="@item.ImageUrl" class="img-fluid" width="100" /></td>
                                            <td style="vertical-align: top; font-size: 16px; text-transform: uppercase; color: white; margin: 0 15px">
                                                @item.SchoolName
                                                <br /> <span style="color: #87CEFA">@item.LastName @item.Name @item.SecondName</span>
                                                <br /><u>@item.Position</u>
                                            </td>
                                            <td width="300">
                                                @if (item.Position != "Директор")
                                                {
                            <form asp-action="DeleteEmployee" asp-controller="Employee" asp-route-UserId="@item.UserId" method="post">
                                <button type="submit" class="btn btn-danger btn-rounded" style="float: right; font-size: 12px;" name="button">
                                    <i class="fa fa-trash text-danger rounded-circle bg-white mr-1" style="padding: 5px 7px;"></i>Удалить
                                </button> <br />
                            </form>}
                                                <a style="float: right; font-size: 12px;" class="btn btn-info btn-rounded" asp-controller="Employee" asp-action="EditEmployee" asp-route-UserId="@item.UserId" asp-route-SchoolId="@ViewBag.SchoolId">
                                                    <i class="fa fa-edit text-primary rounded-circle bg-white mr-1" style="padding: 4px 4px;"></i>Редактировать
                                                </a>

                                            </td>
                                        </tr>}
                                                    </table>
                                                </div>
}   
 @if (User.IsInRole("administration")|| User.IsInRole("teacher"))
 {
     @foreach(var cl in ViewBag.classeshref)
                {
         <a href="">@cl.ClassNumber "@cl.ClassLetter"</a>
                }
 }
  