@model WebApplication1.ViewModels.SchoolMagazineViewModel
<script src="~/Scripts/jquery-2.1.1.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<div id="searchresults">
    @{int count = 0;}
    <br /><br />
    <h3>Предмет - <span class="text-info">@ViewBag.Subject</span></h3>
    <div class="container">
        <table class="table table-bordered table-dark">
            <tr>
                <th>ФИО / Дата</th>
                @foreach (var col in ViewBag.days)
                {
    <th width="10"><input class="table-dark" width="10" size="3" type="text" readonly value="@col.Day.@col.Month" asp-for="Date" /></th>}
                <th>Четверть @ViewBag.Quart</th>
            </tr>
            @foreach (var fio in ViewBag.names)
            {
<tr>
    <td><input class="table-dark" size="30" type="text" readonly value="@fio" /></td>

    @for (int i = 0; i < ViewBag.days.Count + 1; i++)
    {

<td width="10"><input width="10" size="5" class="table-dark" type="text" style="width:25px" value="@Model.Pupils_marks[count][i]" /></td> @*}
*@}

</tr>count++;
            }
        </table>
    </div>
</div> 